body{
    
    margin: auto;
    font-family: sans-serif;
}
h1{
    font-size: 60px;
    margin: 0;
    position: relative;
    text-decoration: none;
    text-align: center;
}
h2{
    font-size: 29px;
}
h3{
    font-size: 24px;
}
p{
    font-size: 18px;
}
body > header{
    background-image: url("content2/imgs/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header h1::after{
    content: ''; 
    position: absolute; 
    left: -45px; 
    right: -45px; 
    bottom: -10px; 
    border-bottom: 7px solid #FF5252;
    height: 200px;
}

.descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 600px;
    margin: auto;
}
.descricao h2{
    margin-top: 30px;
}
.descricao p{
    margin-top: 50px;
    margin-bottom: 60px;
    text-align: center;
}

.estrategias header{
    height: 80px;
    margin-top: 0px;
    color: white;
    background-color: #FF5252;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.estrategias article{
    display: flex;
    max-width: 1200px;
    flex-wrap: nowrap;
    margin: auto;
    align-items: center;
    justify-content: center;
}
article section{
    margin: 20px;
    text-align: center;
}
section img{
    max-width: 350px;
    max-height: 400px;
}

.linkPalpite{
    display: flex;
    justify-content: center;
}
.linkPalpite a{
    background-color: #FF5252;
    padding: 25px 100px 25px 100px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}
.pdf{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.pdf img{
    max-width: 600px;
}
.pdf p{
    text-align: center;
}
.aviso{
    background-color: #FF5252;
    padding: 20px;
    margin-bottom: 200px;
}
.aviso p{
    color: white;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: gray;
}

@media (max-width: 1200px){
    .estrategias article{
        flex-wrap: wrap;
    }
    section p{
        margin: 10px 150px;
    }
}

@media (max-width: 800px){
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 21px;
    }
    h3{
        font-size: 21px;
    }
    p{
        font-size: 18px;
    }
    body > header{
        height: 200px;
    }
    header h1::after{
        left: -5px; 
        right: -5px; 
        bottom: -10px; 
        border-bottom: 5px solid #FF5252;
    }
    .descricao p{
        margin: 20px 30px 40px 30px;
        font-size: 18px;
    }
    .estrategias header{
        height: 40px;
    }
    article section{
        margin: 20px;
        text-align: center;
    }
    section img{
        max-width: 67%;
    
        max-height: 67%;
    
    }
    article p{
        margin: 0;
    }
    .linkPalpite a{
        padding: 15px 50px 15px 50px;
    }
    .aviso p{
        font-size: 18px;
    }
    
    .pdf img{
        max-width: 80%
    }
}
