@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: auto;
    max-width: 1200px;
}

.flex{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.header{
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.header div{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;;
}
.header div .avatar{
    margin: 0;
    margin-top: 15px;
    font-family: "Anek Devanagari", sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 11%;
    position: relative;
    top: 10px;
    font-style: normal;
    background-color: white;
}
.header div p{
    margin-top: 0;
    font-family: "Anek Devanagari", sans-serif;
    font-weight: 300;
    position: relative;
}
.header a{
    margin: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    font-style: normal;
    color: black;
}
header .talk{
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    background-color: rgba(180, 210, 186, 1);
    height: 30px;
    padding: 10px;
    border-radius: 30px;
    color: black;
}

main{
    max-width: 1540px;
    margin-left: 30px;
    margin-right: 30px;
}

.hello{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    text-align: left;
    margin-bottom: 0px;
    z-index: 1;
}
h1 b{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 0px;
}
.hire{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 22px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.hire:nth-child(2) :first-child{
    margin-right: 25px;
    background-color: rgba(180, 210, 186, 1);
    padding: 10px 25px 10px 25px ;
    border-radius: 60px;
    color: black;
}
.hire:nth-child(2) :last-child{
    text-decoration: underline;
    color: black;
}

.social{
    display: flex;
    align-items: center;
}
.social div{
    display: flex;
    margin-right: 15px;
    align-items: center;
}
.social div a{
    margin-left: 7px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-decoration: underline;
    color: black;
}

h2{
    font-family: "Anek Devanagari", sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-align: center; 
    margin: auto;
}
h2 b{
    font-weight: 500;
    color: rgba(129, 186, 141, 1);
}
.about{
    margin-left: 0;
}
.about p{
    margin-left: 20px;
    flex: 1;
    text-align: right;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 24px;
    width: 600px;
    overflow: auto;
    width: 100%;
    height: 270px; 
}
.about p .normal{
    font-weight: 400;
}
.about img{
    margin-bottom: auto;
}
.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(180, 210, 186, 1);
    max-width: 1200px;
    height: auto;
    border: solid 40px rgba(168, 194, 173, 1);
    box-shadow: 20px black solid; 
    border-radius: 30px;
}
.portfolio div{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.portfolio:first-child{
    position: relative;
    top: 40px;
}
.portfolio div a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 300px;
    max-height: 200px;
    margin-bottom: 40px;
}

.portfolio div a{
    text-align: center;
    width: 100%;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: black;
}
.portfolio div a div img{
    width: 100%;
    height: 200px;
    border-radius: 30px;
}

@media (max-width: 1200px) {
    .helloImg img { 
        max-width: 100%;
        min-width: 30%;
    }
    
}
@media (max-width: 1000px) {
    .headerIMG{
        width: 50px;
    }
    .header div .avatar{
        font-size: 15px;
        top: 6px;
    }
    .header div p{
        font-size: 12px;
        bottom: 5px;
    }
    .header a{
        font-size: 16px;
    }
    header .talk{
        font-size: 18px;
        position: relative;
        bottom: 15px;
        padding: 5px;
    }
    h1{
        font-size: 30px;
        width: 400px;
    }
    .hire{
        font-size: 18px;
    }
    .hire:nth-child(2) :first-child{
        padding: 8px 15px 8px 15px ;
    }
    .social div a{
        font-size: 12px;
    }
    .social div img{
        width: 25px;
    }
    h2{
        font-size: 26px;
        width: 500px;
    }
    .about p{
        font-size: 19px;
    }
    .about img{
        width: 17em;
        height: 15em;
    }
    .portfolio{
        border: solid 24px rgba(168, 194, 173, 1);
    }
    .portfolio div a div img{
        height: 150px;
    }
}